@import 'tailwindcss';

@theme {
	--breakpoint-sm: 480px;
	--breakpoint-tablet: 640px;
	--breakpoint-lp: 980px;
	--breakpoint-desktop: 1280px;
}

@media (min-width: var(--breakpoint-laptop)) {
	.lp\:hidden {
		display: none !important;
	}

	.lp\:block {
		display: block !important;
	}

	.lp\:flex {
		display: flex !important;
	}
}

body {
	font-size: 13px !important;
}

.basket-icon {
	display: contents;
}

#bottom-header {
	position: relative;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

#showProdMenu,
.submenuCat {
	font-size: 13px;
}

#showProdMenu:hover,
#showProdMenu.active,
.submenuCat:hover {
	background-color: black;
	color: white;
}

.submenuCat {
	padding: 10px 20px;
}

.menu-nav a,
.subcat.level-1 a,
.subcat.level-2 a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-text {
	margin-right: 5px;
}

.menu-text-nav {
	margin-right: 40px;
}

.menu-arrow,
.arrows {
	margin-left: auto;
}

.subcat {
	display: none;
}

/* ✅ Smooth transition for menu-nav */
.menu-nav {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition:
		opacity 0.3s ease-in-out,
		transform 0.3s ease-in-out,
		visibility 0s linear 0.3s;
	pointer-events: none;
	position: absolute;
	z-index: 1000;
	margin-block-start: 41px;
}

.menu-nav.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition:
		opacity 0.3s ease-in-out,
		transform 0.3s ease-in-out,
		visibility 0s;
	pointer-events: auto;
}

.menu-nav.closing {
	opacity: 0;
	transform: translateY(-10px);
	transition:
		opacity 0.3s ease-in-out,
		transform 0.3s ease-in-out,
		visibility 0s linear 0.3s;
}

/* ✅ Fix Level-1 & Level-2 animation */
.subcat.level-1,
.subcat.level-2 {
	position: absolute;
	background-color: #ffffff;
	left: 100%;
	opacity: 0;
	visibility: hidden;
	display: block;
	transform: translateX(-100%);
	transition:
		opacity 0.3s ease-in-out,
		transform 0.3s ease-in-out,
		visibility 0.3s linear 0.3s;
}

.subcat.level-1.active,
.subcat.level-2.active {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
	transition:
		opacity 0.3s ease-in-out,
		transform 0.3s ease-in-out,
		visibility 0s;

	display: block;
	z-index: 10;
	width: max-content;
}

/* Closing animation classes */
.subcat.closing {
	opacity: 0;
	transform: translateX(-100%);
	transition:
		opacity 0.3s ease-in-out,
		transform 0.3s ease-in-out,
		visibility 0s linear 0.3s;
}

.subcat.level-1 > ul {
	display: grid;
	grid-template-rows: repeat(33, auto);
	grid-auto-flow: column;
	gap: 0px;
	max-height: calc(15 * 95px);
	width: max-content;
}

.hasSubCats {
	padding: 10px;
}

.subcat > ul {
	padding-left: 10px;
	padding-right: 0 !important;

	> li {
		padding: 10px;
	}
}

.show-all {
	padding-left: 7px;
}

.submenuCats {
	padding: 0 5px;
	font-size: 13px;
}

.open-menu {
	animation: slideDown 0.3s ease-out forwards;
}

@keyframes slideDown {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.submenu {
	border-bottom: 1px solid #666;
}

/* Add these styles to your style.css file */

/* Hide the default Swiper arrow */
.swiper-button-next::after,
.swiper-button-prev::after {
	display: none;
}

/* Custom CSS for Swiper buttons */
.swiperHome .swiper-button-prev,
.swiperHome .swiper-button-next {
	background-repeat: no-repeat;
	width: 27px;
	height: 57px;
}

/* Left button */
.swiperHome .swiper-button-prev {
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='svg16' width='27' height='57' viewBox='0 0 27 57' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='1' fill='%23e0171f' d='M 24.998771,1.960688 1.8906634,28.009828 25.068796,55.039312 21.007371,28.009828 Z' id='path186' /%3E%3C/svg%3E");
}

/* Right button */
.swiperHome .swiper-button-next {
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='svg16' width='27' height='57' viewBox='0 0 27 57' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='1' fill='%23e0171f' d='M 24.998771,1.960688 1.8906634,28.009828 25.068796,55.039312 21.007371,28.009828 Z' id='path186' /%3E%3C/svg%3E");
	transform: rotate(180deg);
}

/* MOBILE OPTIMIZATION */
@media (max-width: 980px) {
	.swiper-slide img {
		width: 100%;
		height: auto;
	}

	/* Adjust position of navigation buttons */
	.swiperHome .swiper-button-prev {
		left: 5px;
	}
	.swiperHome .swiper-button-next {
		right: 5px;
	}
}

/* Custom styles for the product grid */
.product-grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 16px;
}

/* Responsive grid for screens < 980px */
@media (max-width: 980px) {
	.product-grid {
		grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
	}
}

/* Responsive grid for very small screens < 480px */
@media (max-width: 480px) {
	.product-grid {
		grid-template-columns: repeat(1, 1fr); /* 1 column per row */
	}
}

.product-box {
	border: 1px solid #e5e7eb;
	border-radius: 8px;
	overflow: hidden;
	transition: transform 0.2s ease-in-out;
}

.product-box:hover {
	transform: translateY(-4px);
}

.product-box img {
	width: 100%;
	height: auto;
}

.product-label {
	position: absolute;
	top: 8px;
	left: 8px;
	background-color: #10b981;
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
}

.product-title {
	font-size: 14px;
	font-weight: 600;
	margin: 8px 0;
}

.product-price {
	font-size: 16px;
	font-weight: 700;
	color: #1f2937;
}

.product-unitprice {
	font-size: 12px;
	color: #6b7280;
}

/* Custom styles for the new section  cards 1*/
.background-section {
	background-image: url('https://www.gerstaecker.de/out/pictures/ddmedia/Hintergrund-beige-töne-87090_klein.jpg');
	background-size: cover;
	background-position: center;
}

.category-card {
	border-radius: 4px;
	overflow: hidden;
	background-color: white;
}

.category-card img {
	width: 100%;
	height: 30rem;
	object-fit: cover;
}

.category-card .content {
	padding: 25px;
	text-align: left;
}

.btn-style-2 {
	font-size: 15px;
	color: #333;
	border: 1px solid #999;
	padding: 8px 16px;
	display: inline-block;
	border-radius: 4px;
	transition: border-color 0.3s ease;
}

.btn-style-2:hover {
	border-color: #ccc;
}

.cat-grid-item {
	position: relative;
	background-size: cover;
	background-position: center;
	min-height: 220px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-decoration: none;
	color: black;
}

.cat-grid-item .box_txt {
	display: inline-block;
	position: relative;
	width: 100%;
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.5);
	text-align: left;
}

.btn-style-3 {
	display: inline-block;
	position: relative;
	padding: 8px 20px;
	margin: 1em;
	color: #000;
	cursor: pointer;
	font-size: 15px;
}

.box-info {
	position: relative;
	bottom: 13px;
	right: 13px;
}

.variants {
	position: relative;
	float: right;
	min-width: 55px;
	background-color: #808080;
	color: #ffffff;
	text-align: center;
	margin: 0 5px 0 10px;
	border-radius: 5px;
	font-size: 10px;
	padding: 5px;
	top: 2px;
}

/* Background images for each category */
.c-g-item1 {
	background-image: url('https://www.gerstaecker.rocks/out/pictures/ddmedia/aquarellfarben_1.jpg');
	grid-area: 1 / 1 / 2 / 2;
}

.c-g-item2 {
	background-image: url('https://www.gerstaecker.rocks/out/pictures/ddmedia/aquarellpapier.jpg');
	grid-area: 2 / 1 / 3 / 2;
}

.c-g-item3 {
	background-image: url('https://www.gerstaecker.rocks/out/pictures/ddmedia/pinsel.jpg');
	grid-area: 1 / 2 / 3 / 3;
}

.c-g-item4 {
	background-image: url('https://www.gerstaecker.rocks/out/pictures/ddmedia/Skizzenb%C3%BCcher_Test1.jpg');
	grid-area: 1 / 3 / 2 / 5;
}

.c-g-item5 {
	background-image: url('https://www.gerstaecker.rocks/out/pictures/ddmedia/acrylfarben.jpg');
	grid-area: 2 / 3 / 3 / 4;
}

.c-g-item6 {
	background-image: url('https://www.gerstaecker.rocks/out/pictures/ddmedia/keilrahmen_1.jpg');
	grid-area: 2 / 4 / 3 / 5;
}

@media (max-width: 980px) {
	.c-g-item4,
	.c-g-item5,
	.c-g-item6 {
		display: none;
	}
}

@media (min-width: 1024px) and (max-width: 1095px) {
	.custom-cols {
		grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
	}
}

/* Custom CSS for SEO section */
.seo_h2 {
	text-align: center;
	color: #575757;
	font-size: 13px;
}
.seo_p,
.seo_ul {
	color: #575757;
	line-height: 1.6;
	font-size: 13px;
}
.seo_ul {
	list-style-type: disc;
	padding-left: 1.5rem;
}

/* Custom CSS for footer */
.footer-box {
	font-size: 14px;
}
.footer-box-title {
	font-weight: bold;
	margin-bottom: 1rem;
	text-transform: none;
	border-bottom: 1px solid #666;
}
.footer-box-content a {
	color: #575757;
	text-decoration: none;
}
.footer-box-content a:hover {
	text-decoration: underline;
}

.payment {
	display: flex;
	justify-content: center;
	background-color: white;
	text-align: center;
	padding: 2px;
	margin: 0 5px 5px 5px;
	width: 65px;
	height: 35px;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	float: left;
}

.sm_icons {
	width: 33%;
	text-align: center;
	float: left;
}
.footer_style {
	line-height: 135%;
}

/* Custom CSS for animations */
.footer-box-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}
.footer-box-content.open {
	max-height: 500px; /* Adjust based on content height */
}
.footer-box-title i {
	transition: transform 0.3s ease;
}
.footer-box-title.open i {
	transform: rotate(180deg);
}

/* Hide chevron icons on screens larger than 980px */
@media (min-width: 980px) {
	.chevron-icon {
		display: none;
	}

	/* Ensure footer content is always visible on large screens */
	.footer-box-content {
		max-height: none !important; /* Override any max-height set by JS */
		overflow: visible !important; /* Ensure content is visible */
	}
}

/* Show chevron icons and collapse content by default on small screens */
@media (max-width: 979.98px) {
	.chevron-icon {
		display: inline-block; /* Ensure the icon is visible */
	}

	/* Collapse footer content by default on small screens */
	.footer-box-content {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
	}

	.footer-box-content.open {
		max-height: 500px; /* Adjust based on content height */
	}
}

/* CSS for blur effect on content container */
.blur-effect {
	filter: blur(25px);
	transition: filter 0.3s ease;
}
