<!-- New Section with Background and Cards -->
<div class="background-section py-12">
	<div class="container mx-auto px-4">
		<div class="grid grid-cols-1 lp:grid-cols-2 gap-8">
			<!-- Card 1 -->
			<div class="category-card">
				<a
					href="https://www.gerstaecker.de/gerstaecker-akademie/"
					class="block"
				>
					<img
						src="https://www.gerstaecker.de/out/pictures/ddmedia/Farbenlaube_Startseite_2.jpg"
						alt="Unvergessliche Malerlebnisse"
					/>
					<div class="content">
						<h2 class="text-xl font-bold mb-2">Unvergessliche Malerlebnisse</h2>
						<p class="pb-5">Malreisen und Live-Kurse für Ihre Kreativität!</p>
						<div class="btn-style-2">Hier entdecken</div>
					</div>
				</a>
			</div>

			<!-- Card 2 -->
			<div class="category-card">
				<a href="tel:0224388995" class="block">
					<img
						src="https://www.gerstaecker.de/out/pictures/ddmedia/Callcenter_Startseite.jpg"
						alt="Unsere Bestellhotline"
					/>
					<div class="content">
						<h2 class="text-xl font-bold mb-2">Unsere Bestellhotline</h2>
						<p class="pb-5">Mo - Sa von 7.00 - 19.00 Uhr.</p>
						<div class="btn-style-2">Telefon: 02243 889-95</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
