<div class="background-section py-12">
	<div class="xl:container mx-auto px-4">
		<div class="grid grid-cols-1 lp:grid-cols-3 gap-8">
			<!-- I LOVE ART Card -->
			<div class="category-card">
				<a href="https://www.gerstaecker.de/marken/i-love-art/" class="block">
					<img
						src="https://www.gerstaecker.de/out/pictures/ddmedia/ILA_400x300.jpg"
						alt="I LOVE ART"
						class="w-full h-96 object-cover"
					/>
					<div class="content">
						<div class="text-xl font-bold mb-2">I LOVE ART</div>
						<div class="text-xl pb-5">
							Für preisbewusste Künstler & Einsteiger!
						</div>
						<div class="btn-style-2">Hier entdecken</div>
					</div>
				</a>
			</div>

			<!-- Newsletter Card -->
			<div class="category-card">
				<a href="https://www.gerstaecker.de/newsletter" class="block">
					<img
						src="https://www.gerstaecker.de/out/pictures/ddmedia/Banner_Newsletter_400x260.jpg"
						alt="Newsletter"
						class="w-full h-96 object-cover"
					/>
					<div class="content">
						<div class="text-xl font-bpld mb-2">Nichts mehr verpassen!</div>
						<div class="pb-5">Verpassen Sie keinen Rabatt.</div>
						<div class="btn-style-2">Newsletter abonieren</div>
					</div>
				</a>
			</div>

			<!-- Gutschein Card -->
			<div class="category-card">
				<a
					href="https://www.gerstaecker.de/gutschein.html"
					class="block no-underline text-black"
				>
					<img
						src="https://www.gerstaecker.de/out/pictures/ddmedia/Gutschein_400x300.jpg"
						alt="Gutschein"
						class="w-full h-96 object-cover"
					/>

					<div class="content">
						<div class="text-xl font-bold mb-2">
							Kreativität & Freude schenken
						</div>
						<div class="pb-5">Mit dem Gerstaecker Gutschein.</div>
						<div class="btn-style-2">Jetzt erstellen</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
