<!-- Footer Section -->
<footer id="footer" class="bg-gray-100 py-12">
	<div class="xl:container mx-auto px-4">
		<div class="grid grid-cols-1 lp:grid-cols-4 gap-8">
			<!-- Top Kategorien -->
			<div class="footer-box">
				<div
					class="footer-box-title flex justify-between items-center cursor-pointer"
				>
					<span>Kategorien</span>
					<i class="fa fa-chevron-down chevron-icon"></i>
				</div>
				<div class="footer-box-content">
					<a href="/farben-hilfsmittel/farben/aquarellfarbe/">Aquarellfarben</a
					><br />
					<a href="/Keilrahmen/">Keilrahmen</a><br />
					<a href="/farben-hilfsmittel/farben/acrylfarbe/">Acrylfarbe</a><br />
					<a href="/malgruende-papier/aquarellpapier/">Aquarellpapier</a><br />
					<a href="/Nur-Neuheiten-anzeigen/">Neuheiten</a><br />
					<a href="/Pinsel/">Pinsel</a><br />
					<a href="/Farben-Hilfsmittel/Farben/">Farben</a><br />
					<a href="/Malgruende-Papier/">Papier</a><br />
					<a href="/Sales/">SALES</a><br />
				</div>
			</div>

			<!-- Über uns -->
			<div class="footer-box">
				<div
					class="footer-box-title flex justify-between items-center cursor-pointer"
				>
					<span>Über uns</span>
					<i class="fa fa-chevron-down chevron-icon"></i>
				</div>
				<div class="footer-box-content">
					<a href="/unternehmensgeschichte/">Unternehmen</a><br />
					<a href="/karriere-job/">Job & Karriere</a><br />
					<a href="/Kuenstlerfachmaerkte/">Unsere Künstlerfachmärkte</a><br />
					<a href="/Marken/">Unsere Marken</a><br />
					<a href="/nachhaltigkeit/">Nachhaltigkeit</a><br />
					<div class="footer_style mt-4">
						<b>Gerstaecker im Social Web</b>
					</div>
					<div class="flex pl-1 space-x-4 mt-2">
						<a
							target="_blank"
							href="https://www.facebook.com/gerstaecker.de"
							title="Facebook"
						>
							<img
								src="//gerstaecker.rocks/out/pictures/ddmedia/facebook_1.png"
								alt="Facebook"
								width="38"
								height="38"
							/>
						</a>
						<a
							target="_blank"
							href="https://www.instagram.com/gerstaeckerverlag/"
							title="Instagram"
						>
							<img
								src="//gerstaecker.rocks/out/pictures/ddmedia/insta.png"
								alt="Instagram"
								width="38"
								height="38"
							/>
						</a>
						<a
							target="_blank"
							href="https://www.pinterest.com/gerstaecker/"
							title="Pinterest"
						>
							<img
								src="//gerstaecker.rocks/out/pictures/ddmedia/pinterest_1.png"
								alt="Pinterest"
								width="38"
								height="38"
							/>
						</a>
					</div>
				</div>
			</div>

			<!-- Kontakt -->
			<div class="footer-box">
				<div
					class="footer-box-title flex justify-between items-center cursor-pointer"
				>
					<span>Kontakt</span>
					<i class="fa fa-chevron-down chevron-icon"></i>
				</div>
				<div class="footer-box-content">
					<a href="/kontaktieren-sie-uns/#Kontaktformular">Kontaktformular</a
					><br />
					<a href="/impressum/">Impressum</a><br />
					<strong>E-Mail: info@gerstaecker.com</strong><br />
					<strong>Telefon: 0 22 43 / 88 99 5</strong><br />
					Mo-Sa schon ab 7 - 19 Uhr für Sie da!<br />
					<div class="mt-4">
						<span
							>Jetzt unseren Newsletter abonnieren und einen
							<b>5€ Gutschein</b> erhalten!</span
						>
					</div>
					<form class="mt-2">
						<input
							type="email"
							placeholder="E-Mail-Adresse"
							class="p-2 border rounded"
						/>
						<button type="submit" class="p-2 bg-blue-500 text-white rounded">
							Abonnieren
						</button>
					</form>
				</div>
			</div>

			<!-- Kundenservice -->
			<div class="footer-box">
				<div
					class="footer-box-title flex justify-between items-center cursor-pointer"
				>
					<span>Kundenservice</span>
					<i class="fa fa-chevron-down chevron-icon"></i>
				</div>
				<div class="footer-box-content">
					<a href="/meine-adressen/">Mein Konto</a><br />
					<a href="/konto-eroeffnen/">Registrieren</a><br />
					<a href="/warenkorb/">Direktbestellung</a><br />
					<a href="/faq-haeufig-gestellte-fragen/">Fragen & Antworten (FAQ)</a
					><br />
					<a href="/katalog-bestellen/">Kataloge & Broschüren</a><br />
					<a href="/Gutschein.html">Gutschein</a><br />
					<a href="/widerrufsrecht/">Widerrufsrecht</a><br />
					<a href="/datenschutz/">Datenschutz</a><br />
					<a href="/agb/">AGB</a><br />
					<a class="optanon-toggle-display">Cookie-Einstellungen</a><br />
				</div>
			</div>
		</div>

		<!-- Versandpartner -->
		<div class="grid grid-cols-1 lp:grid-cols-4 gap-8 mt-8">
			<div class="footer-box">
				<div
					class="footer-box-title flex justify-between items-center cursor-pointer"
				>
					<span>Versandpartner</span>
					<i class="fa fa-chevron-down chevron-icon"></i>
				</div>
				<div class="footer-box-content">
					<div class="flex space-x-4">
						<div class="payment">
							<img
								src="https://www.gerstaecker.de/out/pictures/ddmedia/DPD_Bildmotiv_Logo.png"
								alt="DPD"
								width="90%"
								class="m-auto"
							/>
						</div>
						<div class="payment">
							<img
								src="https://www.gerstaecker.de/out/pictures/ddmedia/de-ups-logo-200px.png"
								alt="UPS"
								class="max-w-full"
							/>
						</div>
						<div class="payment" style="background-color: #ffcc00">
							<img
								src="https://www.gerstaecker.de/out/pictures/ddmedia/de-dhl-logo-200px.png"
								alt="DHL"
								width="100%"
								class="m-auto"
							/>
						</div>
					</div>
					<div class="footer_style mt-7.5">
						<p>
							Lieferungen <strong>ab 99,00 €</strong> inkl. Mehrwertsteuer
							verschicken wir deutschlandweit
							<strong>versandkostenfrei!</strong>
						</p>
						<a href="/Versand-und-Zahlung/" class="mt-2 inline-block"
							>Versandkosten und Zahlungsarten</a
						>
					</div>
				</div>
			</div>

			<!-- Zahlungsarten -->
			<div class="footer-box">
				<div
					class="footer-box-title flex justify-between items-center cursor-pointer"
				>
					<span>Zahlungsarten</span>
					<i class="fa fa-chevron-down chevron-icon"></i>
				</div>
				<div class="footer-box-content">
					<div class="payment">
						<img
							src="https://www.gerstaecker.de/out/pictures/ddmedia/de-pp-logo-150px.png"
							alt="PayPal"
							width="90%"
							class="m-auto"
						/>
					</div>
					<div class="payment">
						<img
							src="https://www.gerstaecker.de/out/pictures/ddmedia/de-visa-logo-200px_1.png"
							alt="Visa"
							width="70%"
							class="m-auto"
						/>
					</div>
					<div class="payment">
						<img
							src="https://www.gerstaecker.de/out/pictures/ddmedia/google-pay-mark_800_1.svg"
							alt="Google Pay"
							width="80%"
							class="m-auto"
						/>
					</div>
					<div class="payment">
						<img
							src="https://www.gerstaecker.de/out/pictures/ddmedia/Apple_Pay_Mark_RGB_041619.svg"
							alt="Apple Pay"
							width="70%"
							class="m-auto"
						/>
					</div>
					<div class="payment">
						<img
							src="https://www.gerstaecker.de/out/pictures/ddmedia/de-mc-logo-200px.png"
							alt="Mastercard"
							width="45%"
							class="m-auto"
						/>
					</div>
					<div class="payment">
						<p align="center" style="padding-top: 7px; line-height: 70%">
							<span style="font-size: 10px">Rechnung</span>
						</p>
					</div>
					<div class="payment">
						<p align="center" style="padding-top: 2px; line-height: 70%">
							<span style="font-size: 10px">Voraus-<br />kasse</span>
						</p>
					</div>
				</div>
			</div>

			<!-- Ihr Einkauf ist sicher -->
			<div class="footer-box">
				<div
					class="footer-box-title flex justify-between items-center cursor-pointer"
				>
					<span>Ihr Einkauf ist sicher</span>
					<i class="fa fa-chevron-down chevron-icon"></i>
				</div>
				<div class="footer-box-content">
					<img
						src="/public/SSL-Zertifikat.avif"
						alt="SSL Zertifikat"
						width="20%"
						height="20%"
					/>
					<div class="footer_style mt-4">
						<p>
							Um die Kunden- und Datensicherheit zu erhöhen, ist unser gesamter
							Online-Shop mit einem professionellen SSL-Zertifikat abgesichert.
						</p>
					</div>
				</div>
			</div>

			<!-- Das sagen unsere Kunden -->
			<div class="footer-box">
				<div
					class="footer-box-title flex justify-between items-center cursor-pointer"
				>
					<span>Das sagen unsere Kunden</span>
					<i class="fa fa-chevron-down chevron-icon"></i>
				</div>
				<div class="footer-box-content">
					<div id="trustbadgeCustomContainer"></div>
					<script
						id="myTrust"
						async
						src="//widgets.trustedshops.com/js/X8E01F74A35CDA8DCA33539B4EB96344A.js"
					></script>
				</div>
			</div>
		</div>

		<!-- Copyright -->
		<div class="text-center mt-10 text-xs">
			<span class="text-gray-600"
				>*inklusive 19% bzw. 7% MwSt, ggf. zuzüglich
			</span>
			<span class="text-gray-600"
				>© 2025 Johannes GERSTAECKER Verlag GmbH</span
			>
		</div>
	</div>
</footer>
