<div class="container mx-auto p-4">
	<!-- Spacer -->
	<div class="h-6"></div>

	<!-- New Products Section -->
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8">
		<div class="text-left">
			<span class="text-lg font-bold text-gray-600">NEUHEITEN</span>
			<span class="text-4xl font-black text-black block">SCHON ENTDECKT?</span>
		</div>
		<div class="text-right self-end">
			<a
				href="/Nur-Neuheiten-anzeigen/"
				class="text-gray-600 border border-solid border-gray-400 hover:border-black px-4 py-2 rounded text-sm"
				>Alle anzeigen</a
			>
		</div>
	</div>

	<!-- Spacer -->
	<div class="h-6"></div>

	<!-- New Products Grid -->
	<div
		class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4"
	>
		<!-- Product 1 -->
		<div class="bg-white p-4 shadow rounded product-box">
			<div class="flex space-x-2 box-info">
				<!-- Discount Label -->
				<div class="bg-red-500 text-white text-sm px-2 py-1 rounded">
					bis -25%
				</div>

				<!-- New Label -->
				<div class="bg-green-500 text-white text-sm px-2 py-1 rounded">NEU</div>
			</div>
			<form
				action="https://www.gerstaecker.de/maimeriblu-aquarellfarben.html"
				method="get"
			>
				<input type="hidden" name="actcontrol" value="start" />
				<input type="hidden" name="lang" value="0" />
				<input type="hidden" name="pgNr" value="0" />
				<input type="hidden" name="cl" value="details" />
				<input type="hidden" name="anid" value="18707200752" />

				<div class="relative">
					<img
						src="https://images.gerstaecker.de/out/pictures/generated/250_250/613494/MaimeriBlu+Aquarellfarben.jpg"
						alt="MaimeriBlu Aquarellfarben"
						class="w-full mb-2"
					/>
				</div>
				<hr />
				<div class="text-gray-600 text-xs variants">91 Farben</div>
				<div class="mt-4">
					
					<a
						href="https://www.gerstaecker.de/maimeriblu-aquarellfarben.html"
						class="text-base"
						>MaimeriBlu Aquarellfarben</a
					>
					<div class="mt-2">
						<span class="text-sm">ab <span class="font-bold">4,95 €*</span></span>
					</div>
					<div class="text-xs text-gray-600 mt-1">
						0 l | 1 l: 3.300,00 €</span>
					</div>
				</div>
			</form>
		</div>

		<!-- Product 2 -->
		<div class="bg-white p-4 shadow rounded product-box">
			<div class="flex space-x-2 box-info">
				<!-- Discount Label -->
				<div class="bg-red-500 text-white text-sm px-2 py-1 rounded">
					-15%
				</div>

				<!-- New Label -->
				<div
					class="bg-green-500 text-white text-sm px-2 py-1 rounded"
				>
					NEU
				</div>
			</div>
			<form
				action="https://www.gerstaecker.de/charvin-feine-oelfarben.html"
				method="get"
			>
				<input type="hidden" name="actcontrol" value="start" />
				<input type="hidden" name="lang" value="0" />
				<input type="hidden" name="pgNr" value="0" />
				<input type="hidden" name="cl" value="details" />
				<input type="hidden" name="anid" value="18296197810" />

				<div class="relative">
					<img
						src="https://images.gerstaecker.de/out/pictures/generated/250_250/610081/CHARVIN+Feine+%C3%96lfarben.jpg"
						alt="CHARVIN Feine Ölfarben"
						class="w-full mb-2"
					/>
				</div>
				<hr>
				<div class="text-gray-600 text-xs variants">153 Farben</div>
				<div class="mt-4">
					
					<a
						href="https://www.gerstaecker.de/charvin-feine-oelfarben.html"
						class="text-base"
						>CHARVIN Feine Ölfarben</a
					>
					<div class="mt-2">
						<span class="text-sm font-bold text-red-600">12,71 €*</span>
						<span class="text-sm text-gray-500 line-through ml-2">14,95 €*</span>
					</div>
					<div class="text-xs text-gray-600 mt-1">
						0,15 l | 1 l: 84,73 €*
					</div>
				</div>
			</form>
		</div>

		<!-- Product 3 -->
		<div class="bg-white p-4 shadow rounded product-box">
			<div class="flex space-x-2 box-info">
				<!-- New Label -->
				<div
					class="bg-green-500 text-white text-sm px-2 py-1 rounded"
				>
					NEU
				</div>
			</div>
			<form
				action="https://www.gerstaecker.de/holbein-kuenstler-farbstifte-sets.html"
				method="get"
			>
				<input type="hidden" name="actcontrol" value="start" />
				<input type="hidden" name="lang" value="0" />
				<input type="hidden" name="pgNr" value="0" />
				<input type="hidden" name="cl" value="details" />
				<input type="hidden" name="anid" value="18707200752" />

				<div class="relative">
					<img
						src="https://images.gerstaecker.de/out/pictures/generated/250_250/611644/HOLBEIN+K%C3%BCnstler-Farbstifte+Sets.jpg"
						alt="HOLBEIN Künstler-Farbstifte Sets"
						class="w-full mb-2"
					/>
				</div>
				<hr>
				<div class="text-gray-600 text-xs variants">6 Sets</div>

				<div class="mt-4">
					<a
						href="https://www.gerstaecker.de/holbein-kuenstler-farbstifte-sets.html"
						class="text-base"
						>HOLBEIN Künstler-Farbstifte Sets</a
					>
					<div class="mt-2">
						<span class="text-sm">ab <span class="font-bold">29,99 €*</span></span>
					</div>
				</div>
			</form>
		</div>

		<!-- Product 4 -->
		<div class="bg-white p-4 shadow rounded product-box">
			<div class="flex space-x-2 box-info">
				<!-- Discount Label -->
				<div class="bg-red-500 text-white text-sm px-2 py-1 rounded">
					-15%
				</div>

				<!-- New Label -->
				<div
					class="bg-green-500 text-white text-sm px-2 py-1 rounded"
				>
					NEU
				</div>
			</div>
			<form
				action="https://www.gerstaecker.de/sennelier-hands-free-aquarellset-12-1-mit-magic-arm.html"
				method="get"
			>
				<input type="hidden" name="actcontrol" value="start" />
				<input type="hidden" name="lang" value="0" />
				<input type="hidden" name="pgNr" value="0" />
				<input type="hidden" name="cl" value="details" />
				<input type="hidden" name="anid" value="18707200752" />

				<div class="relative">
					<img
						src="https://images.gerstaecker.de/out/pictures/generated/250_250/607447/SENNELIER+HANDS-FREE+Aquarellset+12%2B1+mit+MAGIC+ARM.jpg"
						alt="SENNELIER HANDS-FREE Aquarellset 12+1 mit MAGIC ARM"
						class="w-full mb-2"
					/>
				</div>
				<hr>

				<div class="mt-4">
					<a
						href="https://www.gerstaecker.de/sennelier-hands-free-aquarellset-12-1-mit-magic-arm.html"
						class="text-base"
						>SENNELIER HANDS-FREE Aquarellset 12+1 mit MAGIC ARM</a
					>
					<div class="mt-2">
						<span class="text-sm font-bold text-red-600">38,42 €*</span>
						<span class="text-gray-500 line-through ml-2">45,20 €*</span>
					</div>
				</div>
			</form>
		</div>

		<!-- Product 5 -->
		<div class="bg-white p-4 shadow rounded product-box">
			<div class="flex space-x-2 box-info">
				<!-- Discount Label -->
				<div class="bg-red-500 text-white text-sm px-2 py-1 rounded">
					-10%
				</div>

				<!-- New Label -->
				<div
					class="bg-green-500 text-white text-sm px-2 py-1 rounded"
				>
					NEU
				</div>

				<!-- Eco-friendly Label -->
				<div
					class="bg-green-500 text-white text-sm font-bold px-2 py-1 rounded"
				>
					<i
						class="fa fa-leaf"
						aria-hidden="true"
						data-toggle="tooltip"
						data-placement="top"
						data-original-title="umweltfreundlich"
					></i>
				</div>
			</div>
			<form
				action="https://www.gerstaecker.de/aquarelle-de-provence-extrafeine-aquarellfarben-passion-vegetale.html"
				method="get"
			>
				<input type="hidden" name="actcontrol" value="start" />
				<input type="hidden" name="lang" value="0" />
				<input type="hidden" name="pgNr" value="0" />
				<input type="hidden" name="cl" value="details" />
				<input type="hidden" name="anid" value="18707200752" />

				<div class="relative">
					<img
						alt='Aquarelle de Provence® extrafeine Aquarellfarben "Passion Végétale"'
						src="https://images.gerstaecker.de/out/pictures/generated/250_250/599622/Aquarelle+de+Provence%C2%AE+extrafeine+Aquarellfarben+%26quot%3BPassion+V%C3%A9g%C3%A9tale%26quot%3B.jpg"
						class="w-full mb-2"
					/>
				</div>
				<hr>

				<div class="mt-4">
					<a
						href="https://www.gerstaecker.de/aquarelle-de-provence-extrafeine-aquarellfarben-passion-vegetale.html"
						class="text-base"
						>Aquarelle de Provence® extrafeine Aquarellfarben "Passion
						Végétale"</a
					>
					<div class="mt-2">
						<span class="text-sm text-red-600 font-bold">43,99 €*</span>
						<span class="text-gray-500 line-through ml-2">48,88 €*</span>
					</div>
				</div>
			</form>
		</div>

		<!-- Product 6 -->
		<div class="bg-white p-4 shadow rounded product-box">
			<div class="flex space-x-2 box-info">
				<!-- Discount Label -->
				<div class="bg-red-500 text-white text-sm px-2 py-1 rounded">
					bis -25%
				</div>

				<!-- New Label -->
				<div
					class="bg-green-500 text-white text-sm px-2 py-1 rounded"
				>
					NEU
				</div>
			</div>
			<form
				action="https://www.gerstaecker.de/maimeriblu-aquarellfarben.html"
				method="get"
			>
				<input type="hidden" name="actcontrol" value="start" />
				<input type="hidden" name="lang" value="0" />
				<input type="hidden" name="pgNr" value="0" />
				<input type="hidden" name="cl" value="details" />
				<input type="hidden" name="anid" value="18707200752" />

				<div class="relative">
					<img
						alt="Gallery Professional Soft Ölpastellkreiden, Sets"
						src="https://images.gerstaecker.de/out/pictures/generated/250_250/610956/Gallery+Professional+Soft+%C3%96lpastellkreiden%2C+Sets.jpg"
						class="w-full mb-2"
					/>
				</div>
				<hr>
				<div class="text-gray-600 text-xs variants">6 Sets</div>

				<div class="mt-4">
					
						<a
							href="https://www.gerstaecker.de/gallery-professional-soft-oelpastellkreiden-sets.html"
							class="text-base"
							>Gallery Professional Soft Ölpastellkreiden, Sets</a
						>
						<div class="mt-2">
							<span class="text-xs"
								>ab <span class="text-red-600 font-bold">9,34 €*</span></span
							>
							<span class="text-gray-500 line-through ml-2">10,99 €*</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Spacer -->
	<div class="h-6"></div>
</div>
