<div class="xl:container mx-auto p-4">
	<!-- Sales Header Section -->
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8">
		<div class="text-left">
			<span class="text-4xl font-black text-black">SALES</span>
		</div>
		<div class="text-right self-end">
			<a href="/Sales/" class="text-gray-600 border border-solid border-gray-400 hover:border-black px-4 py-2 rounded text-sm"
				>Alle anzeigen</a
			>
		</div>
	</div>

	<!-- Spacer -->
	<div class="h-6"></div>

	<!-- Product Grid -->
	<div
		class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4"
	>
		<!-- Product 1 -->
		<div class="bg-white p-4 shadow rounded product-box">
			<div class="flex space-x-2 box-info">
				<!-- Discount Label -->
				<div class="bg-red-500 text-white text-sm px-2 py-1 rounded">-50%</div>
			</div>
			<form
				action="https://www.gerstaecker.de/clairefontaine-goldline-aquapad-aquarellblock.html"
				method="get"
			>
				<input type="hidden" name="actcontrol" value="start" />
				<input type="hidden" name="lang" value="0" />
				<input type="hidden" name="pgNr" value="0" />
				<input type="hidden" name="cl" value="details" />
				<input type="hidden" name="anid" value="14740845418" />

				<div class="relative">
					<img
						src="https://images.gerstaecker.de/out/pictures/generated/250_250/468382/Clairefontaine+Goldline+Aquapad+Aquarellblock.jpg"
						alt="Clairefontaine Goldline Aquapad Aquarellblock"
						class="w-full mb-2"
					/>
				</div>
				<hr>
				<div class="text-gray-600 text-xs variants">6 Varianten</div>

				<div class="mt-4">
					<a
						href="https://www.gerstaecker.de/clairefontaine-goldline-aquapad-aquarellblock.html"
						class="text-base"
						>Clairefontaine Goldline Aquapad Aquarellblock</a
					>
					<div class="mt-2">
						<span class="text-sm">ab <span class="font-bold text-red-600">2,69 €*</span>
						<span class="text-gray-500 line-through ml-2">5,37 €*</span>
					</div>
				</div>
			</form>
		</div>

		<!-- Product 2 -->
		<div class="bg-white p-4 shadow rounded product-box">
			<div class="flex space-x-2 box-info">
				<!-- Discount Label -->
				<div class="bg-red-500 text-white text-sm px-2 py-1 rounded">-40%</div>
			</div>
			<form
				action="https://www.gerstaecker.de/rhodia-rollen-etui.html"
				method="get"
			>
				<input type="hidden" name="actcontrol" value="start" />
				<input type="hidden" name="lang" value="0" />
				<input type="hidden" name="pgNr" value="0" />
				<input type="hidden" name="cl" value="details" />
				<input type="hidden" name="anid" value="14388825545" />

				<div class="relative">
					<img
						src="https://images.gerstaecker.de/out/pictures/generated/250_250/468390/RHODIA+Rollen-Etui.jpg"
						alt="RHODIA Rollen-Etui"
						class="w-full mb-2"
					/>
				</div>
				<hr>

				<div class="mt-4">
					<a
						href="https://www.gerstaecker.de/rhodia-rollen-etui.html"
						class="text-base"
						>RHODIA Rollen-Etui</a
					>
					<div class="mt-2">
						<span class="text-sm text-red-600 font-bold">8,79 €*</span>
						<span class="text-gray-500 line-through ml-2">14,65 €*</span>
					</div>
				</div>
			</form>
		</div>

		<!-- Product 3 -->
		<div class="bg-white p-4 shadow rounded product-box">
			<div class="flex space-x-2 box-info">
				<!-- Discount Label -->
				<div class="bg-red-500 text-white text-sm px-2 py-1 rounded">-35%</div>
			</div>
			<form
				action="https://www.gerstaecker.de/daler-rowney-system3-acrylic-ink.html"
				method="get"
			>
				<input type="hidden" name="actcontrol" value="start" />
				<input type="hidden" name="lang" value="0" />
				<input type="hidden" name="pgNr" value="0" />
				<input type="hidden" name="cl" value="details" />
				<input type="hidden" name="anid" value="15476233941" />

				<div class="relative">
					<img
						src="https://images.gerstaecker.de/out/pictures/generated/250_250/482392/DALER-ROWNEY+System3+Acrylic+Ink.jpg"
						alt="DALER-ROWNEY System3 Acrylic Ink"
						class="w-full mb-2"
					/>
				</div>
				<hr>
				<div class="text-gray-600 text-xs variants">28 Farben</div>

				<div class="mt-4">
					<a
						href="https://www.gerstaecker.de/daler-rowney-system3-acrylic-ink.html"
						class="text-base"
						>DALER-ROWNEY System3 Acrylic Ink</a
					>
					<div class="mt-2">
						<span class="text-sm text-red-600 font-bold">4,02 €*</span>
						<span class="text-gray-500 line-through ml-2">6,19 €*</span>
					</div>
					<div class="text-xs text-gray-600 mt-1">
						0,03 l | 1 l: 136,27 €*
					</div>
				</div>
			</form>
		</div>

		<!-- Product 4 -->
		<div class="bg-white p-4 shadow rounded product-box">
			<div class="flex space-x-2 box-info">
				<!-- Discount Label -->
				<div class="bg-red-500 text-white text-sm px-2 py-1 rounded">-33%</div>
			</div>
			<form
				action="https://www.gerstaecker.de/blockx-kuenstler-aquarellkasten-mit-halben-naepfchen.html"
				method="get"
			>
				<input type="hidden" name="actcontrol" value="start" />
				<input type="hidden" name="lang" value="0" />
				<input type="hidden" name="pgNr" value="0" />
				<input type="hidden" name="cl" value="details" />
				<input type="hidden" name="anid" value="10601099274" />

				<div class="relative">
					<img
						src="https://images.gerstaecker.de/out/pictures/generated/250_250/436875/BLOCKX+K%C3%BCnstler-Aquarellkasten+mit+halben+N%C3%A4pfchen.jpg"
						alt="BLOCKX Künstler-Aquarellkasten mit halben Näpfchen"
						class="w-full mb-2"
					/>
				</div>
				<hr>
				<div class="text-gray-600 text-xs variants">2 Sets</div>

				<div class="mt-4">
					<a
						href="https://www.gerstaecker.de/blockx-kuenstler-aquarellkasten-mit-halben-naepfchen.html"
						class="text-base"
						>BLOCKX Künstler-Aquarellkasten mit halben Näpfchen</a
					>
					<div class="mt-2">
						<span class="text-sm">ab <span class="text-red-600 font-bold">55,34 €*</span></span>
						<span class="text-gray-500 line-through ml-2">82,59 €*</span>
					</div>
				</div>
			</form>
		</div>

		<!-- Product 5 -->
		<div class="bg-white p-4 shadow rounded product-box">
			<div class="flex space-x-2 box-info">
				<!-- Discount Label -->
				<div class="bg-red-500 text-white text-sm px-2 py-1 rounded">-33%</div>
			</div>
			<form
				action="https://www.gerstaecker.de/blockx-pastellkreiden-36er-sets.html"
				method="get"
			>
				<input type="hidden" name="actcontrol" value="start" />
				<input type="hidden" name="lang" value="0" />
				<input type="hidden" name="pgNr" value="0" />
				<input type="hidden" name="cl" value="details" />
				<input type="hidden" name="anid" value="25781789" />

				<div class="relative">
					<img
						src="https://images.gerstaecker.de/out/pictures/generated/250_250/487459/BLOCKX+Pastellkreiden%2C+36er-Sets.jpg"
						alt="BLOCKX Pastellkreiden, 36er-Sets"
						class="w-full mb-2"
					/>
				</div>
				<hr>
				<div class="text-gray-600 text-xs variants">5 Sets</div> 
				<div class="mt-4">
					<a
						href="https://www.gerstaecker.de/blockx-pastellkreiden-36er-sets.html"
						class="text-base"
						>BLOCKX Pastellkreiden, 36er-Sets</a
					>
					<div class="mt-2">
						<span class="text-sm text-red-600 font-bold">83,74 €*</span>
						<span class="text-gray-500 line-through ml-2">124,99 €*</span>
					</div>
				</div>
			</form>
		</div>

		<!-- Product 6 -->
		<div class="bg-white p-4 shadow rounded product-box">
			<div class="flex space-x-2 box-info">
				<!-- Discount Label -->
				<div class="bg-red-500 text-white text-sm px-2 py-1 rounded">-30%</div>
			</div>
			<form
				action="https://www.gerstaecker.de/stabilo-free-acrylic-acrylmarker-5er-packs.html"
				method="get"
			>
				<input type="hidden" name="actcontrol" value="start" />
				<input type="hidden" name="lang" value="0" />
				<input type="hidden" name="pgNr" value="0" />
				<input type="hidden" name="cl" value="details" />
				<input type="hidden" name="anid" value="15536534828" />

				<div class="relative">
					<img
						src="https://images.gerstaecker.de/out/pictures/generated/250_250/484630/STABILO%C2%AE+FREE+Acrylic+Acrylmarker+5er-Packs.jpg"
						alt="STABILO® FREE Acrylic Acrylmarker 5er-Packs"
						class="w-full mb-2"
					/>
				</div>
				<hr>
				<div class="text-gray-600 text-xs variants">19 Sets</div>

				<div class="mt-4">
					<a
						href="https://www.gerstaecker.de/stabilo-free-acrylic-acrylmarker-5er-packs.html"
						class="text-base"
						>STABILO® FREE Acrylic Acrylmarker 5er-Packs</a
					>
					<div class="mt-2">
						<span class="text-sm">ab <span class="font-bold text-red-600">10,78 €*</span></span>
						<span class="text-gray-500 line-through ml-2">15,40 €*</span>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Spacer -->
	<div class="h-6"></div>
</div>
