<!-- submenu links -->
<div class="submenu hidden sm:block py-2.5">
	<div class="container mx-auto px-4">
		<div class="flex justify-center">
			<ul class="flex flex-nowrap gap-4">
				<li class="submenuCats">
					<a href="/Gutschein.html" class="flex items-center gap-1">
						<i class="fa fa-angle-double-right text-xs text-red-600"></i>
						<span
							class="font-bold text-sm hover:underline text-gray-500 hover:text-gray-900"
							>Gutschein</span
						>
					</a>
				</li>
				<li class="submenuCats">
					<a href="/katalog-bestellen" class="flex items-center gap-1">
						<i class="fa fa-angle-double-right text-xs text-red-600"></i>
						<span
							class="font-bold text-sm hover:underline text-gray-500 hover:text-gray-900"
							>Katalog bestellen</span
						>
					</a>
				</li>
				<li class="submenuCats">
					<a href="/warenkorb" class="flex items-center gap-1">
						<i class="fa fa-angle-double-right text-xs text-red-600"></i>
						<span
							class="font-bold text-sm hover:underline text-gray-500 hover:text-gray-900"
							>Direktbestellung</span
						>
					</a>
				</li>
				<li class="submenuCats">
					<a href="/Kuenstlerfachmaerkte" class="flex items-center gap-1">
						<i class="fa fa-angle-double-right text-xs text-red-600"></i>
						<span
							class="font-bold text-sm hover:underline text-gray-500 hover:text-gray-900"
							>Künstlerfachmärkte</span
						>
					</a>
				</li>
				<li class="submenuCats">
					<a href="/index.php?cl=newsletter" class="flex items-center gap-1">
						<i class="fa fa-angle-double-right text-xs text-red-600"></i>
						<span
							class="font-bold text-sm hover:underline text-gray-500 hover:text-gray-900"
							>Newsletter</span
						>
					</a>
				</li>
				<li class="submenuCats">
					<a href="/blog" class="flex items-center gap-1">
						<i class="fa fa-angle-double-right text-xs text-red-600"></i>
						<span
							class="font-bold text-sm hover:underline text-gray-500 hover:text-gray-900"
							>Blog</span
						>
					</a>
				</li>
				<li class="submenuCats">
					<a
						href="/kontaktieren-sie-uns/"
						class="flex items-center gap-1 text-red-600"
					>
						<i class="fa fa-angle-double-right text-xs text-red-600"></i>
						<span
							class="font-bold text-sm hover:underline text-gray-500 hover:text-gray-900"
							>Service Center</span
						>
					</a>
				</li>
				<li class="submenuCats">
					<a href="/karriere-job/" class="flex gap-1 items-center">
						<i class="fa fa-angle-double-right text-red-600 text-xs"></i>
						<span
							class="font-bold text-sm hover:underline text-gray-500 hover:text-gray-900"
							>Karriere</span
						>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
