<!-- Swiper container -->
<section id="startBanner" class="w-full swiperHome">
	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			<!-- Slide 1 -->
			<div class="swiper-slide">
				<a href="/LSDKS/">
					<img
						src="https://www.gerstaecker.de/out/pictures/ddmedia/Slider_kunstsprechen.jpg"
						class="hidden lp:block object-cover max-w-[80%] w-full h-auto mx-auto"
						alt="Slide 1"
					/>
					<img
						src="https://www.gerstaecker.de/out/pictures/ddmedia/mobile_kunstsprechen.jpg"
						class="block lp:hidden object-cover max-w-[70%] w-full h-auto mx-auto"
						alt="Slide 1 Mobile"
					/>
				</a>
			</div>
			<!-- Slide 2 -->
			<div class="swiper-slide">
				<a href="#">
					<img
						src="https://www.gerstaecker.de/out/pictures/ddmedia/Slider_oel_zubehoer_2.jpg"
						class="hidden lp:block object-cover max-w-[80%] w-full h-auto mx-auto"
						alt="Slide 2"
					/>
					<img
						src="https://www.gerstaecker.de/out/pictures/ddmedia/mobile_oel_zubehoer.jpg"
						class="block lp:hidden object-cover max-w-[70%] w-full h-auto mx-auto"
						alt="Slide 2 Mobile"
					/>
				</a>
			</div>
			<!-- Slide 3 -->
			<div class="swiper-slide">
				<a href="#">
					<img
						src="https://www.gerstaecker.de/out/pictures/ddmedia/oelacrylaktion25_slider.png"
						class="hidden lp:block object-cover max-w-[80%] w-full h-auto mx-auto"
						alt="Slide 3"
					/>
					<img
						src="https://www.gerstaecker.de/out/pictures/ddmedia/oelacrylaktion25_mobile.png"
						class="block lp:hidden object-cover max-w-[70%] w-full h-auto mx-auto"
						alt="Slide 3 Mobile"
					/>
				</a>
			</div>
			<!-- Slide 4 -->
			<div class="swiper-slide">
				<a href="#">
					<img
						src="https://www.gerstaecker.de/out/pictures/ddmedia/Slider_gerst_ILA25.png"
						class="hidden lp:block object-cover max-w-[80%] w-full h-auto mx-auto"
						alt="Slide 4"
					/>
					<img
						src="https://www.gerstaecker.de/out/pictures/ddmedia/Mobile_gerst_ILA25.png"
						class="block lp:hidden object-cover max-w-[70%] w-full h-auto mx-auto"
						alt="Slide 4 Mobile"
					/>
				</a>
			</div>
		</div>
		<!-- Pagination -->
		<div class="swiper-pagination"></div>
		<!-- Navigation buttons -->
		<div
			class="absolute inset-y-0 left-0 right-0 flex items-center justify-between z-10"
		>
			<div class="swiper-button-prev swiper-home-button-prev ml-4"></div>
			<div class="swiper-button-next swiper-home-button-next mr-4"></div>
		</div>
	</div>
</section>
